.CobrowsingModal {
  &__safe-area {
    overflow-y: scroll;
    margin: 0 auto;
    height: calc(100vh);
    width: calc(100vh + 40vh);
    position: relative;
  }

  &__close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
  }

  &__body {
    width: 50%;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin: 5rem auto 0 auto;
    background: #111;
  }
}