.GameView {
  display: flex;
  justify-content: center;
  height: calc(80vh - 4px);
  canvas {
    border: 1px solid yellow;

  }
  border: 1px solid white;

  &__left-column {
    width: 10vh;
    background: red;
  }

  &__right-column {
    width: 10vh;
    background: red;
  }
}