.StateScreen {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  // background-color: #0a0a0a;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    max-height: 50vh;
  }

  &__content {
    width: 100vh;
      display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
  }

  .KeyIndicator {
    transform: scale(4);
    padding: 3vh 0vh;
  }

  &__controls {
  }
}