.Login {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.GoogleOAuth {
  background-color: #dd4b39;
  color: white;
  padding: 1rem;
  font-weight: 800;
  width: 180px;
  gap: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Login .logins {
  margin: 5px 0;
}
