.CreateTexture {
  &__sprite-missing {
    background-color: #111;
  }

  &__sprite {
    width: 150px;
    height: 150px;
    border: 1px solid white;
    position: relative;
  }

  &__no-sprite {
    position: absolute;
    top: .4rem;
    right: .4rem;
    cursor: pointer;
  }

  &__sprite-list {
    .Sprite {
      cursor: pointer;
      opacity: 0.5;
      &:hover{
        opacity: 1;
      }
    }
  }
}