.WishLabsPage {
  background-color: #060212;
  // background-color: black;


  &__content {
    transition: background-color .2s;
    overflow-y: hidden;
    height: 100vh;
  }

  &__content--ready {
    overflow-y: scroll;
  }

  &__make {
    height: 100vh
  }

  &__footer {
    background-color: #060212;
    color: white;
    position: absolute;
    bottom: 0px;
    z-index: 10;
    padding: 1em 1em;
    font-size: .9rem;
    width: 100%;

    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
  }

  &__brandname {

  }

  &__links {
    display: flex;
    color: white;
    gap: 10px;
  }
}