.LobbySetupFlow {
  max-height: 100vh;
  overflow-y: scroll;
  margin-left: 2rem;

  &__stepper {
    padding-bottom: 80vh;
    padding-top: 1vh;
  }

  &__role {
    padding: 10px;
    border: 1px solid #333;
    width: 200px;
  }

  &__roles, &__users {
    display: flex;
  }
}