.GameStateScreen {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  // background-color: #0a0a0a;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-iems: center;

  &__title {
    max-height: 50%;
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
  }

  // .KeyIndicator {
  //   transform: scale(4);
  //   padding: 1.5em 0em;
  // }

  &__controls {
    
  }
}