.register {
  display: flex;
  justify-content: center;
}

.register .container {
  max-width: 400px;
  flex: 1;
}

.register .google {
  background-color: #dd4b39;
  color: white;
  display: block;
}

.register .submit {
  background-color: gray;
  color: white;
}
