@font-face {
  font-family: 'Wish';
  font-style: normal;
  font-weight: normal;
  src: local('Wish'), url('../public/assets/fonts/MoonFirefly-Regular.woff') format('woff');
}

.agora_video_player {
  position: static !important;
}

.MuiButton-startIcon > *:nth-of-type(1) {
  font-size: 1.2em !important;
}
   
.MuiButton-endIcon>*:nth-of-type(1) {
  font-size: 1.2em !important;
}