html,
body,
#root {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  background-color: #0a0a0a;
  color: white;
  font-family: 'Roboto',  'Segoe UI', 'Oxygen', -apple-system, BlinkMacSystemFont,
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.text-light {
  color: gray;
}

.error {
  color: red;
  margin: 0;
}

.error-center {
  color: red;
  margin: 0;
  text-align: center;
}

button:disabled,
button[disabled] {
  opacity: 0.2;
  cursor: not-allowed;
}

.active {
  background-color: red;
  /* transition: background-color 100ms linear; */
}
