.LobbyListPage {
  min-height: 100%;

  &__lobby {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid black;
    &:last-child {
      border-bottom: 0;
    }
  }

  &__label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
  }

  &__button {
    width: auto;
  }
}

.LobbyListPage .info {
  font-size: 18px;
}

.LobbyListPage .info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.LobbyListPage__list {
  min-height: 100%;
}
