.Cutscene {
  .CutsceneBody {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    
    &__text-dialog {
      position: absolute;
      margin-bottom: 10%;
      max-width: 60%;
    }

    &__text-key {
      display: inline-block;
    }

    &__next {
      display: inline-block;
    }

    &__image {

    }
  }
}