.BrushItem {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;

  &--selected {
    border: 1px solid rgb(144, 202, 249);
  }

  &__unselect {
    position: absolute;
    right: 0px;
    top: 0px;
  }

  &__sprite {
    width: 100%;
    height: 100%;
  }
}