.KeyboardPreview {
  color: white;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  &__node {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #333;
    width: 4em;
    height: 4em;
    position: relative;
    &:last-child {

    }
  }

  &__node-control {
    flex: 1;
    position: absolute;
    bottom: .2em;
    left: .2em;
  }

  &__node-action {
    flex: 1;
  }
}