.SideEditor {
  overflow-y: scroll;
  // background-color: rgba(34,34,34, 0.6);
  padding: 1em;
  width: calc(100% - 2em);
  position: relative;
  padding-top: 2em;

  .ClassMemberTitle {
    flex-direction: column;
  }

  &__close {
    position:absolute;
    right: 0; 
    top: 0;
  }
  &__title {
    margin-right: 1em;
  }
}