.StepBuilder {
  max-width: 500px;

  &__step-buttons {
    display: flex;
    justify-content: flex-end;
  }

  &__prompt-buttons {
    position: absolute;
    right: .2em;
    top: .2em
  }

  &__prompts {
    display: flex;
    gap: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    flex-direction: column;
  }

  &__step-body {
    border: 1px solid #333;
    padding: .5em
  }

  &__prompt {
    position: relative;
  }

  &__prompt-text {
    padding: 1em 2em;
  }

  &__prompt-role {
        width: max-content;
        padding: .4em;
    background-color: #333;
  }
}