.LiveEditor {
  position:absolute;
  right: 0%; 
  top: 5%;
  max-height: calc(100vh - 20%);
  max-width: 30vh;
  overflow-y: scroll;
  min-height: 50vh;
  // background-color: rgba(34,34,34, 0.6);
  background-color: black;
  padding: 3%;
  
  &__close {
    position:absolute;
    right: 0; 
    top: 0;
  }
  &__title {
    margin-right: 1vh;
  }
}