.LiveEditor {
  position:absolute;
  right: 0%; 
  top: 5%;
  overflow-y: scroll;
  max-width: 30%;
  // background-color: rgba(34,34,34, 0.6);
  background-color: black;
  padding: 3%;
  
  &__close {
    position:absolute;
    right: 0; 
    top: 0;
  }
  &__title {
    margin-right: .5em;
  }
}