.LiveEditor {
  position:absolute;
  right: 3%; 
  top: 5%;
  background-color: rgba(34,34,34, 0.6);
  padding: 1%;
  &__close {
    position:absolute;
    right: 0; 
    top: 0;
  }
  &__title {
    margin-right: 1vh;
  }
}