.VideoLayoutHA {
  &__video-container {
    background-color: #222;
  }

  &__video {
    width: 100%;
    height: 100%;
  }

  &__participant {
    position: fixed;
    bottom: 210px;
    right: 60px;
    width: 100px;
    height: 100px;
    // video {
    //   border-radius: 5% 5% 0% 0%;
    // }
  }

  &__label {
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    background-color: black;
    z-index: 1;
    font-size: 8px;
  }

  &__controls {
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
    color: white;
    background-color: black;
    z-index: 1;
    font-size: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
  }

  &__controls-mic, &__controls-cam {
    cursor: pointer;
  }

  &__guide {
    width: 200px;
    height: 200px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    // video {
    //   border-radius: 5% 5% 0% 0%;
    // }
  }
}