.HATicketsPage {
  &__content {
    display: flex;  
    gap: 4rem;  
    padding-bottom: 4rem;
    margin-top: 4rem;
    @media screen and (max-width: 850px) {
      flex-direction: column-reverse;
    }
  }

  &__info {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
          @media screen and (max-width: 850px) {
              width: 100%;
            }
  }

  &__purchase {
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
        @media screen and (max-width: 850px) {
          width: 100%;
        }
  }

  &__purchase-button {
    color: white;
    width: 100%;
  }

  &__logistics-icon {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logistics {
    display: flex;
    justify-content: center;
    align-items: flex-start;
          @media screen and (max-width: 850px) {
              flex-direction: column;
              gap: 2rem;
            }
  }

  &__logistics-text {
    width: calc(100% - 80px);
  }

  &__location {
    width: 45%;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
            @media screen and (max-width: 850px) {
                width: 100%;
              }
  }

  &__dates {
    width: 45%;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
            @media screen and (max-width: 850px) {
                width: 100%;
              }
  }

} 

.PurchaseDialog {
  width: 90vw;
  position: relative;
  @media screen and (max-width: 850px) {
      width: 100%;
    }
    
  &__title {
    // text-align: center;
    padding-left: 3rem;
  }

  &__content {
    display: flex;
  }

  &__picker {
    width: 60%;
            @media screen and (max-width: 850px) {
                width: 100%;
              }
  }

  &__results {
    width: 40%;
    @media screen and (max-width: 850px) {
        display: none;
      }
  }

  
  
  &__close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 1;
  }

  &__return {
    position: absolute;
    left: 1.5rem;
    top: 1rem;
    z-index: 1;
  }

  &__line-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__receipt {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
