.UserStatus {
  padding: 15px;
  
  border: 1px solid #333;

  position: relative;

  &--left {
    opacity: 0.4;
  }

  &--clickable {
    cursor: pointer;
  }

  &--me {
    border: 2px solid white;
  }

  &__icons {
    font-size: 12px;
    margin-top: 5px;
    color: white;
  }

  &__ping {
    font-size: 7px;
    display: inline-block;
    position: absolute;
    top: 1.7px;
    right: 12px;
  }

  &__admin {
    width: 8px;
    height: 8px;
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 2px;
  }

  &__icon {
    text-align: center;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    display: inline-block;

    &--wide {
      width: 26px;
    }
  }

  &__connection {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: green;
    position: absolute;
    top: 2px;
    right: 2px;

    &--bad {
      background-color: red;
    }
  }
  
}