.GameRoomDrawer {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  bottom: 1%;
  right: 1%;
  font-size: 24px;
  z-index: 1302;
  cursor: pointer;

  &__drawer{ 
    width: 400px;
    padding-right: 80px;

    .Tabs {
      &__panel {
        height: 90vh;
        overflow-y: scroll;
        padding-top: 1em;
        padding-left: 1em;
        padding-right: 1em;
      }
    }
  }



  &__toggle {
    font-size: 24px;
    z-index: 1302;
    cursor: pointer;
  }

  &__close {
    top: 1%;
    right: 12px;
    position: absolute;
    cursor: pointer;
    font-size: 24px;
  }

  &__not-saving-stage {
    text-align: center;
  }
}