.LobbyPage {
  &__drawer-toggle {
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 24px;
    z-index: 10010;
    cursor: pointer;
  }

  &__cobrowsing-toggle {
    position: absolute;
    top: 50px;
    right: 1%;
    font-size: 24px;
    z-index: 1;
    cursor: pointer;
  }
}