.LobbyPage {
  &__drawer-toggle {
    font-size: 24px;
    z-index: 10011;
    cursor: pointer;
  }

  &__drawer-close {
    top: 1%;
    right: 12px;
    position: absolute;
    cursor: pointer;
    font-size: 24px;
  }

  &__not-saving-stage {
    text-align: center;
  }

  &__admin-tools {
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    top: 1%;
    right: 1%;
    font-size: 24px;
    z-index: 100;
    cursor: pointer;
  }
}

.MonologueView {
  width: 100%;
  height: 100vh;
  background-color: black;
  justify-content: center;
  display: flex;
  align-items: center;

  &__speaker {
    width: 50vh;
    height: 50vh;
  }
}

.LobbyMonologueView {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__body {
    width: 100%;
      display: flex;
      justify-content: center;
          height: 20%;
          position: relative;
  }

  &__speaker {
    width: 20%;
    height: 100%;
    position: relative;
  }
  &__listener {
    width: 20%;
    height: 100%;
  }

  &__dialogue-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 3;
    width: 20%;
    height: 100%;
    overflow-y: scroll;
    background-color: rgba(0,0,0,0.2);

    &:hover {
      opacity: 0.4;
    }
  }
  
}