.SelectSpriteInline {
  &__sprite-missing {
    background-color: #111;
  }

  &__sprite {
    width: 150px;
    height: 150px;
    border: 1px solid white;
  }

  &__sprite-list {
    .Sprite {
      cursor: pointer;
      opacity: 0.5;
      &:hover{
        opacity: 1;
      }
    }
  }
}