.Lobby {
  &__user {

    &--left {
      opacity: 0.4;
    }
  }



  &__user-connection {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: green;
    display: inline-block;
  }
}