.GameEditor {
  display: flex;
  justify-content: center;
  // position: relative;
  height: 100%;
  width: calc(100% - 2px);
    position: absolute;
      top: 0;
      left: 0;

        // height: 100vh;
        //   width: 100vw;
        //   position: fixed;
  // &--not-cobrowsing {
  // }

  ::-webkit-scrollbar {
    width: 0 !important
  }

  transition: background-color .2s;

  &--cobrowsing-border {
    border: 1px solid red;
    .CobrowsingDialog__body {
      background-color: rgba(25, 0, 0);
      border: 1px solid red;
      width: calc(100% - 4px);
    }
  }

  &--cobrowsing {
    height: calc(100% - 2px);
    .MuiPaper-root {
      background-color: rgba(25, 0, 0);      
    }
    .MuiList-root {
      background-color: rgba(25, 0, 0);
    }
    .GameEditor__left-column {
      background-color: rgba(25, 0, 0);
    }
    .GameEditor__right-column {
      background-color: rgba(25, 0, 0);
    }
  }

  &__left-column {
    width: 15%;
    overflow-y: scroll;
    position: relative;
    background-color: #111;
    height: 100%;

    display: flex;
    flex-direction: column;


    &::-webkit-scrollbar {
      display: none;
    }

  }

  &__toolbar {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  &__right-column {
    width: 20%;
    height: 100%;

    background-color: #111;    

    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}