.BrushItem {
  cursor: pointer;
  position: relative;

  &--selected {
    border: 4px solid;

    .BrushItem__sprite {
      width: 38px;
      height: 38px;
    }
  }

  &__unselect {
    position: absolute;
    right: 0px;
    top: 0px;
  }

  &__sprite {
    width: 40px;
    height: 40px;
  }
}