.AgoraVideoPeek {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 2;
  cursor: pointer;

  &__video {
    width: 110px;
  }

  &__audio {
    padding: 2px;
    border: 1px solid white;
    height: 20px;
    width: 100px;
  }
}