.ClassItem {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;

  &--selected {
    background-color: #333;
  }

  &__unselect {
    position: absolute;
    right: 0px;
    top: 0px;
  }

  &__sprite {
    height: 100%;
  }
}