.LobbyDashboard--view {
  .LobbyDashboard {
    &__video-container {
      display: none;
    }
  
    &__preview {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .ActivitySwitcher {
    display: none;
  }
  .LobbyInstructions {
    display: none;
  }
}

.LobbyDashboard {
  &__content {
    display: flex;
    width: 100%;
  }
}

.LobbyDashboard--preview {

  .LobbyInstructions{
    width: 40%;
    height: 90vh;
    overflow-y: scroll;
  }
  
  .LobbyDashboard {
    &__video-container {
      margin-left: auto;
      display: flex;
      justify-content: flex-end;
    }

    &__cobrowsing-user-video {
      width: 220px;
    }

    &__preview {
      height: 100%;
      width: 60%;
      display: flex;
      flex-direction: column;
    }
    
    &__leave {
      position: fixed;
      top: 0;
      right: 0;
      padding: 5px;
      border: 1px solid #333;
    }
  }
}