.CobrowsingStatus {
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px;
  border: 1px solid #333;

  &__ping {
    margin-right: 10px;
  }

  &__username {
    margin-right: 10px;
  }

  &__close {
    cursor: pointer;
    &:hover {
      color: red;
      height: 100%;
    }
  }
}
