.GameEditor {
  display: flex;
  justify-content: center;
  position: relative;
  height: calc(100vh);
  width: calc(100vh + 40vh);
  margin: 0 auto;
  background-color: #111;
  // &--not-cobrowsing {
  // }

  transition: background-color .2s;

  &--cobrowsing {
    height: calc(100vh - 2px);
    width: calc(100vh + 40vh - 2px);
    background-color: rgba(25,0,0);
    border: 1px solid red;

      .CobrowsingModal__body {
            background-color: rgba(25, 0, 0);
              border: 1px solid red;
      }

      .MuiPaper-root {
            background-color: rgba(25, 0, 0);      }
  }

  &__left-column {
    width: 20vh;
    overflow-y: scroll;
    position: relative;

    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    // height: 100%;

    &::-webkit-scrollbar {
      display: none;
    }

  }

  &__toolbar {
    position: absolute;
      bottom: 0;
      width: 100%;
  }

  &__right-column {
    width: 20vh;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__overlay {
    position: absolute;
    left: 20vh;
    width: calc(100vh);
  }


}