.GameEditor {
  display: flex;
  justify-content: center;
  position: relative;
  height: calc(100vh);
  width: calc(100vh + 40vh);
  margin: 0 auto;

  &--cobrowsing {
    height: calc(100vh - 2px);
    width: calc(100vh + 40vh - 2px);
    border: 1px solid red;
  }

  &__empty-game {
    height: calc(100vh);
    width: calc(100vh);
    display: flex;
    align-items: center;
    justify-content: center;

    &--overlay {
      position: absolute;
        left: 20vh;
        width: calc(100vh);
      position: absolute;
      background-color: #000;
      z-index: 1;
      top:0;
    }
  }

  &__left-column {
    width: 20vh;
    background-color: #111;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__right-column {
    width: 20vh;
    background-color: #111;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__overlay {
    position: absolute;
    left: 20vh;
    width: calc(100vh);
  }
}