.GameEditor {
  display: flex;
  justify-content: center;
  position: relative;
  height: calc(100vh);
  width: calc(100vh + 40vh);
  margin: 0 auto;

  &__empty-game {
    height: calc(100vh);
    width: calc(100vh);
  }

  &__left-column {
    width: 20vh;
    background-color: #111;
    overflow-y: scroll;
  }

  &__right-column {
    width: 20vh;
    background-color: #111;
    overflow-y: scroll;
  }

  &__overlay {
    position: absolute;
    left: 20vh;
    width: calc(100vh);
  }
}