@import '../../App.scss';

.HomemadeArcadePage {
  position: absolute;
  top: 0;
  left: 0;

  &__placeholder {
    height: 100vh;
  }

  .GameCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0;
  }
}