.RelationTagChip {
  display: flex;
  align-items: center;
  gap: 0.5em;
  flex-direction: row;
  justify-content: center;
  color: rgba(255, 255, 255, 0.65);
  font-weight: 700;;
  &__icon {
    min-width: 1.5em;
    text-align: center;
  }

  &__texture {
    width: 1.5em;
    height: 1.5em;
  }

  &__color {
    width: 1.5em;
    height: 1.5em;
  }
}