.UserListPage {
  min-height: 100%;
}
.UserListPage .profile {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid black;
}
.UserListPage .profile:last-child {
  border-bottom: 0;
}

.UserListPage .avatar {
  width: 150px;
  height: 150px;
  align-self: center;
  margin-right: 20px;
  object-fit: cover;
}

.UserListPage .label {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.UserListPage .info {
  font-size: 18px;
}

.UserListPage .info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.UserListPage .list {
  min-height: 100%;
}

.UserListPage .profile-link {
  color: rgb(0, 0, 238);
}
