.CobrowsingToolbar {
  // position: absolute;
  // left: 45%;
  // top: .5em;
  justify-content: center;
  align-items: center;
  display: flex;

  &__tool {
    background-color: #222;
    border: 1px solid #333;
  }
}

