.JumboDescription {
  color: white;
  font-weight: 800;
  padding: 0rem 2rem;
  max-width: 420px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: -4rem;
}