.ClickPreview {
  background-color: #222;
  color: white;

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #333;

    &:last-child {
      border-bottom: 1px solid #333;
    }
  }

  &__row-control {
    border-right: 1px solid #333;
    padding: .5em;
    display: flex;
    gap: .5em;
  }

  &__row-action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: .5em;
  }
}