.MonologueExperience {
  width: 100%;
  height: 100%;
  background-color: black;
  justify-content: center;
  display: flex;
  align-items: center;

  &__speaker {
    width: 15em;
    height: 15em;
    background-color: #444;
  }
}

.ActivityCurrent {
  width: 100%;
  height: 100%;

  &__activity {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
  }
}


