.UserInfo .user-info {
  display: flex;
  padding-bottom: 20px;
}

.UserInfo .avatar {
  width: 220px;
  height: 220px;
  align-self: center;
  margin-right: 20px;
  object-fit: cover;
}

.UserInfo .label,
.UserInfo label {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.UserInfo .info {
  font-size: 18px;
}

.UserInfo .info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.UserInfo .btn {
  width: auto;
  margin-right: 10px;
}

.UserInfo input {
  width: 40%;
  display: block;
}

.UserInfo .form {
  margin-bottom: 30px;
}
