.CreateTexture {
  &__no-sprite {
    position: absolute;
    top: .4em;
    right: .4em;
    cursor: pointer;
  }

  &__stage {
    width: 15em;
    height: 15em;
  }

  &__texture-list {
    .Texture {
      cursor: pointer;
      opacity: 0.5;
      &:hover{
        opacity: 1;
      }
    }
  }
}