.ExperiencesPage {
  min-height: 100%;

  .ExperienceCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0;
  }

  &__label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
  }

  &__button {
    width: auto;
  }
}

.ExperiencesPage .info-container {

}