.AgoraVideoSetup {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

    &__preview {
        overflow-y: scroll;
        margin: 0 auto;
        height: 100%;
        width: 100%;
      }
      
  &__popup {
    width: 300px;
    align-self: flex-end;
    text-align: center;
    margin-right: 5%;
    margin-top: 5%;
  }
}