.ColorSelect {
  display: flex;
  flex-wrap: wrap;

  &__add {
    width: 22px;
    height: 22px;
  }

  &__color {
    width: 22px;
    height: 22px;
    cursor: pointer;
    &--selected {
      border: 1px solid white;
      width: 20px;
      height: 20px;
    }
  }
}