
.ColorSelect {
  display: flex;
  flex-wrap: wrap;

  &__color {
    position: relative;
    width: 12%;
    height: 0;
    padding-bottom: 12%;
    cursor: pointer;
    &--selected {
      border: 4px solid white;
    }
    &_unselect {
      position: absolute;
      left: 0;
      right: 0;
    }
  }
}