.CanvasImageModal {
  display: flex;
  // justify-content: center;
  position: relative;
  // height: 100%;
  // width: calc(100vh);
  width: 100%;
  margin: 0 auto;

  // .PhaserPopupGame {
  //   width: 100%;
  //   height: 100%;
  // }

  &__left-column {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 30%;
    // background-color: #111;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__right-column {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1em;
    align-items: center;
    width: 30%;
    // background-color: #111;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }

}