.ControlsPopup {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  // background-color: #0a0a0a;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text-container {
    position: absolute;
    font-size: 1.5em;
    // background: #222;
    padding: 1em;
    align-self: flex-end;
    margin-bottom: 10%;
    max-width: 60%;
  }

  &__key {
    margin-left: .8em;
    margin-right: .8em;
    position: relative;
    top: -.1em;
    div {
      transform: scale(1.5);
    }
  }
}