.MonologueExperience {
  width: 100%;
  height: 100vh;
  background-color: black;
  justify-content: center;
  display: flex;
  align-items: center;

  &__speaker {
    width: 50vh;
    height: 50vh;
    background-color: #444;
  }
}

.CreditsExperience {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 2rem;

  .GameCard {
    margin: 0 auto;
  }
}