.AgoraVideoCallPreview {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  &__body {
    overflow-y: scroll;
    border: 1px solid white;
    margin: 0 auto;
    height: calc(100vh - 4px);
    width: calc(100vh - 4px + 40vh);
    &--popup {
      padding-top: 30vh;
    }
  }

  &__demo {
    width: 40%;
  }

  &__volume-checker {
    width: 40%;
  }
}