.LobbyChatroom {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  &__messages {
    height: calc(100% - 100px);
    overflow-y: scroll;
  }

  &__message {
    flex-direction: column;
  }
}