.EditClassModal {
  &__header {
    display: flex;
    gap: 1rem;
    padding: 1rem;


  }

  &__name {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
  }

  &__texture-stage {
    width: 20vh;
    height: 20vh;
  }
}