.EditGamePage {
  &__fullscreen {
    color: white;
  }

            width: 165vh;
            height: 100vh;
    margin: 0 auto;
    // transition: width 1s, height 1s;
    position: relative;
    overflow-y: scroll;

}

