.ActivityPreview {
  width: 88vh;
  height: 50vh;
  margin: 0 auto;

  position: relative;

  transition: filter 1s;
  
  &--not-focused{
    filter: grayscale(80%);
  }

  &__fullscreen {
    position: absolute;
    top: 1em;
    left: 1em;
  }

  iframe {
    border: none;
  }
}